<div class="container-fluid">
    <nav class="navbar navbar-fixed-top navbar-dark" style="background-color: #323b43;">
        <a class="navbar-brand" href="https://github.com/">
            <span class="mega-octicon octicon-mark-github"></span>
        </a>
        <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item">
                <a class="nav-link btn" href="https://github.com/BagelTheKid">
                    <span class="mega-octicon octicon-octoface"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn" href="https://bagelthekid.github.io/" style="padding-right: 20%;">
                    <span class="mega-octicon octicon-briefcase"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn" href="#" style="padding-right: 15%;">
                    <span class="mega-octicon octicon-repo"></span>
                </a>
            </li>
        </ul>
    </nav>
    <br>
    <br>
    <br>
    <div class="card text-xs-center">
        <div class="card-header">
            <div class="row hidden-md-down">
                <div class="col-xs-2 offset-lg-1">
                    <button type="button" class="btn btn-primary" (click)="generateWebgl()">
                        Generate WebGL
                    </button>
                </div>
                <div class="col-xs-2 offset-lg-1">
                    <button type="button" class="btn btn-primary" (click)="generateMoreWebgl()">
                        Generate More WebGL
                    </button>
                </div>
                <div class="col-xs-2 offset-lg-1">
                    <button type="button" class="btn btn-primary" (click)="generateRandomRects()">
                        Generate Random Rectangles
                    </button>
                </div>
            </div>
            <div class="hidden-lg-up hidden-sm-down">
                <div class="row">
                    <div class="col-xs-2 offset-xs-2">
                        <button type="button" class="btn btn-primary" (click)="generateWebgl()">
                            Generate WebGL
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 offset-xs-2">
                        <button type="button" class="btn btn-primary" (click)="generateMoreWebgl()">
                            Generate More WebGL
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 offset-xs-2">
                        <button type="button" class="btn btn-primary" (click)="generateRandomRects()">
                            Generate Random Rectangles
                        </button>
                    </div>
                </div>
            </div>
            <div class="hidden-md-up">
                <div class="row">
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-primary" (click)="generateWebgl()">
                            Generate WebGL
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-primary" (click)="generateMoreWebgl()">
                            Generate More WebGL
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-primary" (click)="generateRandomRects()">
                            Generate Random Rectangles
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-block">
            <canvas #glcanvas id="glCanvas" width="640" height="480"></canvas>
        </div>
    </div>
</div>